*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    justify-content: center;
    align-items: center;

}

:root{

    --bckg-content: #f6f6f6 ;

    --title-bc:#000000;
    --title-clr: #a222e3;
    --line:#000000;


    --bckg-contmenu: #101010 ;

    --h3-clr:#fdfdfd;
    --h4-clr:#cecece;




    
}





.menu-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: var(--bckg-content);
    padding-top: 95px ;

}


.menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0;
}


.content-seccion{
    font-size: 2.5em;
    color: var(--title-bc);
    margin: 10px 0;
    font-weight: 500;
    border-bottom: 2px solid var(--title-clr);
    padding-bottom: 7px;
    display: inline-block;

}


.s-lines{
    display: block;
}
.lines{
    width: 90vw;
    height: 2px;
    background: var(--line);
    margin: 6px 0;
    margin: 20px ;
}

.mcard{
    position: relative;
    width: 300px;
    height: 300px;
    background:  var(--bckg-contmenu);
    border-radius: 20px;
    box-shadow: 0 7px 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}



.m-img{
    height: 200px;
    width: 290px;
    border-radius: 20px;
    box-shadow: 0 7px 7px rgba(0,0,0,0.35);
    overflow: hidden;
    margin: 2px 0 20px 0;

}

.m-img img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.m-h3{
    font-size: 1.4em;
    font-weight: 600;
    color: var(--h3-clr);
    margin-bottom: 10px;

}

.m-h4{
    font-size: 1em;
    font-weight: 500;
    color: var(--h4-clr);

}



























/* _____________________________________________________________ */








@media only screen and (min-width: 720px){



  .menu-card{
    min-height: 20vh;

        
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

  }
    
  .mcard{
    margin: 15px;
  }

}



